{% extends "base.html" %}

{% block og %}
<meta property="og:url" content="https://{{ base_path }}/colab_fold_viewer"/>
<meta property="og:description"
      content=""/>
{% endblock %}
{% block head %}
<title>ColabFold: AlphaFold2 using MMseqs2</title>
{% endblock %}

{% block body %}
<div class="container-fluid mb-5 bg-white">
    <nav class="navbar navbar-light mt-2">
        <div class="container-fluid sticky-top">

            <a class="navbar-brand" href="https://codeocean.com/">
                <img src="{{ url_for('static', filename='codeocean-logo.svg') }}" alt="CodeOcean Logo" width="200"
                     height="19"
                     class="d-inline-block align-text-top">
            </a>
            <form class="d-flex">
                <a href="https://codeocean.com/request-a-demo/" class="btn btn-outline-primary rounded-pill"
                   target="_blank">Request a demo</a>
            </form>
        </div>
    </nav>
    <div class="row mx-5 py-3">
        <a id="back_url" href="{{ url_for('index') }}"><h2>ColabFold: AlphaFold2 using MMseqs2</h2></a>
        <p>ColabFold speeds up predicting protein structures and complexes by using MMseqs2's quick homology search with
            AlphaFold2.</p>
    </div>
    <div class="row mx-5 pb-5">
        <div class="col-5">
            <div id="guide" class="row">
                <p>Upload a protein sequence in FASTA format for structure
                    prediction via the ColabFold. We will run a CodeOcean
                    capsule to generate the prediction and display the results.</p>
            </div>
            <div id="upload" class="row mt-3">
                <div class="col-3">
                    <p>Amino acid FASTA file</p>
                </div>
                <div class="col-9">
                    <form id="form_upload" enctype=multipart/form-data>
                        <input id="file_fasta" type=file name=file>
                        <button id="bt_upload" class="btn btn-sm btn-outline-primary" onclick="upload();"
                                type="button">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
            <div id="record" class="row mt-3">
                <div class="col-3">
                    <label for="seq_name">Record name</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_name" class="w-100 form-control" rows=1></textarea>
                </div>
            </div>
            <div id="sequence" class="row mt-3">
                <div class="col-3">
                    <label for="seq_content">Sequence</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_content" class="w-100 form-control" rows=6 disabled></textarea>
                </div>
            </div>
            <div id="predict" class="row mt-3">
                <div class="col-12 float-end">
                    <button id="bt_predict" disabled="true" class="btn btn-primary btn-sm float-end"
                            onclick="run(); document.querySelector('#bt_predict').setAttribute('disabled', 'true')">
                        Predict the structure
                    </button>
                </div>
            </div>
            <div id="time_out" class="row mt-3" style="display: none">
                <p>The Prediction URL is a unique URL generated by the ColabFold capsule during the prediction process.
                    Predicting the structure of a protein can take a while, so you may copy the URL and return to this
                    page later once the prediction is complete or share the URL with colleagues.</p>
            </div>
            <div id="prediction" class="row mt-3" style="display: none">
                <div class="col-3">
                    <label for="prediction_url">Prediction URL</label>
                </div>
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input id="prediction_url" type="text" class="form-control" placeholder="Recipient's username"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button id="bt_copy" class="btn btn-sm btn-outline-primary" type="button"
                                onclick="copy_url();"><i
                                class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 position-relative">
            <div class="row">
                <div class="col-12 d-flex" id="wrapper_demo">
                    <!--                    <p id="overlay_predicting" class="position-absolute top-50 start-50 translate-middle">Predicting the-->
                    <!--                        structure</p>-->
                    <div id="progress_predicting"
                         class="progress position-absolute top-50 start-50 translate-middle w-75 d-none">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <video id="demo" class="position-absolute top-50 start-50 translate-middle" preload="auto"
                           loop="loop"
                           muted="muted" volume="0">
                        <source src="/static/demo.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-12 d-none" id="wrapper_molstar">
                    <div class="row">
                        <div id="molstar" class="position-absolute top-50 start-50 translate-middle"></div>
                    </div>

                    <div id="bts_results" class="row d-none position-absolute bottom-0 end-0">
                        <div class="col-2">
                            <button id="bt_download_pdb" class="btn btn-sm btn-outline-primary border-0" onclick="">
                                <i class="fas fa-download" title="Download PDB" aria-hidden="true"></i>
                                PDB
                            </button>
                        </div>
                        <div class="col-10">
                            <div class="input-group input-group-sm">
                                <button id="bt_create_asset" class="btn btn-sm btn-outline-primary border-0" onclick="">
                                    <i class="fas fa-database" title="Create a data asset from results"
                                       aria-hidden="true"></i>
                                    Create a data asset from results
                                </button>
                                <input id="text_asset_name" type="text" class="form-control"
                                       placeholder="ColabFold_predicition_asset"
                                       aria-label="Data asset name" aria-describedby="button-addon1">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
<div class="mt-auto py-3 fixed-bottom">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css"
      href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-light-3.1.0.css">
<script type="text/javascript"
        src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-3.1.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}