{% extends "base.html" %}

{% block og %}
<meta property="og:url" content="https://{{ base_path }}/colab_fold_viewer"/>
<meta property="og:description"
      content=""/>
{% endblock %}
{% block head %}
<title>ColabFold: AlphaFold2 using MMseqs2</title>
{% endblock %}

{% block body %}
<div class="container-fluid mb-5 bg-white">
    <nav class="navbar navbar-light mt-2 sticky-top bg-white border-bottom">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="https://codeocean.com/" target="_blank">
                <img src="{{ url_for('static', filename='codeocean-logo.svg') }}" alt="CodeOcean Logo" width="200"
                     height="19"
                     class="d-inline-block align-text-top">
            </a>
            <a href="mailto:maxim@codeocean.com?subject=Requesting%20Free%20Access%20to%20AlphaFold%20Demo"
               class="btn-outline-primary btn-co"
               target="_blank">Get Free Access</a>
            <div class="input-group w-25">
                <input type="text" class="form-control text-co" placeholder="Free access code"
                       aria-label="Free access code" aria-describedby="button-addon2">
                <button class="btn btn-co" type="button" id="button-addon2">Activate</button>
            </div>
        </div>
    </nav>
    <div class="row mx-5 py-3">
        <a id="back_url" href="{{ url_for('index') }}"><h2>ColabFold: AlphaFold2 using MMseqs2</h2></a>
        <p>ColabFold speeds up predicting protein structures and complexes by using MMseqs2's quick homology search with
            AlphaFold2.</p>
    </div>
    <div class="row mx-5 pb-5">
        <div class="col-5">
            <div id="guide" class="row">
                <p>Upload a protein sequence in FASTA format for structure
                    prediction via the ColabFold. We will run a CodeOcean
                    capsule to generate the prediction and display the results.</p>
            </div>
            <div id="upload" class="row mt-3">
                <div class="col-3">
                    <p>Amino acid FASTA file</p>
                </div>
                <div class="col-9">
                    <form id="form_upload" enctype=multipart/form-data>
                        <input id="file_fasta" type=file name=file>
                        <button id="bt_upload" class="btn btn-outline-primary px-4" onclick="upload();"
                                type="button">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
            <div id="record" class="row mt-3">
                <div class="col-3">
                    <label for="seq_name">Record name</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_name" class="w-100 form-control" rows=1></textarea>
                </div>
            </div>
            <div id="sequence" class="row mt-3">
                <div class="col-3">
                    <label for="seq_content">Sequence</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_content" class="w-100 form-control" rows=6 disabled></textarea>
                </div>
            </div>
            <div id="predict" class="row mt-3">
                <div class="col-12 float-end">
                    <button id="bt_predict" disabled="true" class="btn btn-primary float-end px-4"
                            onclick="run(); document.querySelector('#bt_predict').setAttribute('disabled', 'true')">
                        Predict the structure
                    </button>
                </div>
            </div>
            <div id="time_out" class="row mt-3 d-none">
                <p>The Prediction URL is a unique URL generated by the ColabFold capsule during the prediction process.
                    Predicting the structure of a protein can take a while, so you may copy the URL and return to this
                    page later once the prediction is complete or share the URL with colleagues.</p>
            </div>
            <div id="prediction" class="row mt-3 d-none">
                <div class="col-3">
                    <label for="prediction_url">Prediction URL</label>
                </div>
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input id="prediction_url" type="text" class="form-control" placeholder=""
                               aria-label="Prediction URL" aria-describedby="button-addon2">
                        <button id="bt_copy" class="btn btn-outline-primary px-4" type="button"
                                onclick="copy_url();"><i
                                class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div id="wrapper_demo" class="row d-flex justify-content-center">
                <div id="progress_predicting" class="progress w-75 d-none">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <video id="demo" preload="auto" loop="loop" muted="muted" volume="0">
                    <source src="/static/demo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="row justify-content-center d-none ml-1" id="wrapper_molstar">
                <div id="molstar"></div>
            </div>
            <div id="bts_results" class="row d-none mt-2">
                <div class="col-2">
                    <button id="bt_download_pdb" class="btn btn-outline-primary px-4" onclick="">
                        <i class="fas fa-download" title="Download PDB" aria-hidden="true"></i>
                        PDB
                    </button>
                </div>
                <div class="col-10">
                    <div class="input-group">
                        <button id="bt_create_asset" class="btn btn-outline-primary px-4"
                                onclick="">
                            <i class="fas fa-database" title="Create a data asset from results"
                               aria-hidden="true"></i>
                            Create a data asset from results
                        </button>
                        <input id="text_asset_name" type="text" class="form-control"
                               placeholder="my data asset name"
                               aria-label="Data asset name" aria-describedby="button-addon1">
                        <a id="link_asset" href="" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    <div class="row mt-auto py-3 fixed-bottom">
        <!--            <div class="col-3">-->
        <!--                <a href="https://acmecorp-demo.codeocean.com/capsule/{{ meta.slug }}/tree" class="small text-white"-->
        <!--                   style="text-decoration:none;"-->
        <!--                   target="_blank">-->
        <!--                    <img src=" {{ url_for('static', filename='co-logo-white.svg') }}" width="auto"-->
        <!--                         height="12px" alt="CO Logo">-->
        <!--                    <a href="https://acmecorp-demo.codeocean.com/capsule/{{ meta.slug }}/tree"-->
        <!--                       class="small text-white ml-1"-->
        <!--                       target="_blank">{{ meta.name }} <i class="fas fa-external-link"></i></a>-->
        <!--                </a>-->
        <!--            </div>-->
        <div class="col-3 align-self-end">
            <small class="text-white"><a href="https://www.nature.com/articles/s41592-022-01488-1" target="_blank" class="text-white">ColabFold
                Paper</a> in Nature Methods</small>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css"
      href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-light-3.1.0.css">
<script type="text/javascript"
        src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-3.1.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}