{% extends "base.html" %}

{% block og %}
<meta property="og:url" content="https://{{ base_path }}/colab_fold_viewer"/>
<meta property="og:description"
      content=""/>
{% endblock %}
{% block head %}
<title>ColabFold: AlphaFold2 using MMseqs2</title>
{% endblock %}

{% block body %}
<div class="container-fluid my-5 bg-white">
    <div class="row mx-5 py-3">
        <a id="back_url" href="{{ url_for('index') }}"><h2>ColabFold: AlphaFold2 using MMseqs2</h2></a>
        <p>ColabFold speeds up predicting protein structures and complexes by using MMseqs2's quick homology search with
            AlphaFold2.</p>
    </div>
    <div class="row m-5 pb-5">
        <div class="col-5">
            <div id="guide" class="row">
                <p>Upload a protein sequence in FASTA format for structure
                    prediction via the ColabFold. We will run a CodeOcean
                    capsule to generate the prediction and display the results.</p>
            </div>
            <div id="upload" class="row mt-3">
                <div class="col-3">
                    <p>Fasta file</p>
                </div>
                <div class="col-9">
                    <form id="form_upload" enctype=multipart/form-data>
                        <input id="file_fasta" type=file name=file>
                        <button id="bt_upload" class="btn btn-sm btn-outline-primary" onclick="upload();" type="button">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
            <div id="record" class="row mt-3">
                <div class="col-3">
                    <label for="seq_name">Record name</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_name" class="w-100 form-control" rows=1></textarea>
                </div>
            </div>
            <div id="sequence" class="row mt-3">
                <div class="col-3">
                    <label for="seq_content">Sequence</label>
                </div>
                <div class="col-9">
                    <textarea id="seq_content" class="w-100 form-control" rows=6 disabled></textarea>
                </div>
            </div>
            <div id="predict" class="row mt-3">
                <div class="col-12 float-end">
                    <button id="bt_predict" disabled="true" class="btn btn-secondary btn-sm float-end" onclick="run();">
                        Predict structure
                    </button>
                </div>
            </div>
            <div id="time_out" class="row mt-3" style="display: none">
                <p>Predicting the structure of a protein this size usually takes
                    3–5 minutes. You can copy the prediction URL and return
                    to this page later.</p>
            </div>
            <div id="prediction" class="row mt-3" style="display: none">
                <div class="col-3">
                    <label for="prediction_url">Prediction URL</label>
                </div>
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input id="prediction_url" type="text" class="form-control" placeholder="Recipient's username"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-sm btn-outline-primary" type="button" id="button-addon2"
                                onclick="copy_url();"><i
                                class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <video id="demo" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
                <source src="/static/demo.mp4" type="video/mp4">
            </video>
            <div id="molstar" style="display: none"></div>
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css"
      href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-light-3.1.0.css">
<script type="text/javascript"
        src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-3.1.0.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}