{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">Page Not Found</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">What you were looking for is just not there.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" onclick="{{ url_for('index') }}"
                                class="btn btn-primary px-4 gap-3">Back to the front page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}